extends layout

block content
  //link(rel='stylesheet', href='/stylesheets/rps.css')
  span(id="HandCanvas")
  span(id="OtherHandCanvas")
  script(src="javascripts/build/bundle.js")
  div
    p(id="point") null
    p(id="choice") null
    button(ng-click="alert('WARNING: The bacon button HAS been pressed.');") bacon
